@use './variables' as *;


.circle{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid;
    position: relative;

    img{
        display: none;
    }
}

.checked{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: $checked-bg;
    cursor: pointer;
    border: 1px solid;

    img{
        width: 50%;
        height: 50%;
        object-fit: contain;
    }
}






.light .container .todo-body-footer .todo-body .todo-item{
    .circle,.checked{
        border-color: black;
    }
}
.dark > .container > .todo-body-footer > .todo-body > .todo-item{
    .checked,.circle{
        border-color: white ;
        outline: white;
    }
    .checked+.todo{
        text-decoration: line-through;
        color: $dark-grayish-blue-4;
    }
}