@use './variables' as *;


.circle{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    



    &::before{
        content: '';
        position: absolute;
        width: 85%;
        height: 85%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

}

.checked{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    background: $checked-bg;

    &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        background: url(../src/images/icon-check.svg);
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
    }
}






.dark .container .todo-body-footer .todo-body .todo-item{
    .checked+.todo{
        text-decoration: line-through;
        color: $dark-grayish-blue-4;
    }
}


.light {
    & .circle{
        &:hover{
            background: $checked-bg;
        }
        background: $light-grayish-blue-2;
        &::before{
            background: white;
        }
    }
    
}



.dark {
    & .circle{
        &:hover{
            background: $checked-bg;
        }
            background: $light-grayish-blue-3;
        &::before{
            background: $dark-desaturated-blue;
        }
    }


}
