@use './variables' as *;


.light{
    background-color: $light-gray;
    background-image: url(../src/images/bg-desktop-light.jpg);

    .container{

        header{
            h1{
                color: white;
            }
        }




        .input-sec{
            background-color: $light-gray;
            .todo-input{
                caret-color: $bright-blue;
                color: $dark-grayish-blue-2;
                background-color: transparent;
            }
        }


        .todo-body-footer{
            background-color: $light-gray;
            .todo-body{
                .todo-item{
                    border-bottom-color: $light-grayish-blue-1;
                    color: $dark-grayish-blue-2;
                }

                .checked+.todo{
                    text-decoration: line-through;
                    color: $light-grayish-blue-2;
                }

            }
            .footer{
                color: $dark-grayish-blue-1;
                border-top-color: $light-grayish-blue-1;

                .filter {
                    p:focus{
                        color: $bright-blue;
                    }
                    p:hover{
                        color: $dark-grayish-blue-2;
                    }
                }

                .clear-completed:hover{
                    color: $dark-grayish-blue-2;
                }
            }
        }




            .drag-mes{
                color: $dark-grayish-blue-1;
            }











    }
}