


.light,.dark{
    background-position: top;
    background-size: 100% 40%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    
    .container{
        width: 90%;
        max-width: 33rem;
        margin-top: 4rem;


        header{
            display: flex;
            flex-direction: row;
            margin-bottom: 2rem;
            h1{
                margin-right: auto;
                font-size: 1.8rem;
                letter-spacing: .7rem;
            }
            img{
                margin-left: auto;
                object-fit: contain;
                cursor: pointer;
            }
        }


        .input-sec{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            margin-bottom: 1rem;
            border-radius: .3rem;
            
            
            .circle,.checked{
                margin-inline: 1rem;
            }

            .todo-input{
                padding-block: 1rem;
                flex-basis: 95%;
                font-size: 1.1rem;
                border: none;
                outline: none;
                &:focus{
                    border: none;
                    outline: none;
                }
            }
        }


        .todo-body-footer{
            display: flex;
            flex-direction: column;
            width: 100%;
            border-radius: .3rem;
            box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
            
            
            .todo-body{
                height: 18rem;
                overflow: auto;

                .todo-item{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-block: 1rem;
                    border-bottom: 1px solid black;
                    position: relative;

                    .todo{
                        font-size: 1.1rem;
                        flex-basis: 80%;
                        text-align: left;
                        
                    }

                    .circle,.checked{
                        margin-inline: 1rem;
                    }

                    .cross{
                        visibility: hidden;
                        object-fit: contain;
                        margin-inline: 1rem;
                        cursor: pointer;
                    }

                    &:hover .cross{
                        visibility: visible;
                    }
                }
            }




            .footer{
                flex-basis: 10%;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                border-top: 1px solid black;
                padding-block: 1rem;

                .filter{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    p{
                        margin-inline: .7rem;
                        font-size: .8rem;
                        cursor: pointer;
                    }
                }


                .clear-completed{
                    margin-right: 1rem;
                    margin-left: auto;
                    font-size: .8rem;
                    cursor: pointer;
                }

                .items-left{
                    margin-right: auto;
                    margin-left: 1rem;
                    font-size: .8rem;
                    cursor: pointer;
                }


            }
        }



        .drag-mes{
            margin-top: 2.5rem;
            text-align: center;
            font-size: .7rem;
        }


    }
}