@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


*,:root{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body,#root,.dark,.light{
    width: 100%;
    height: 100%;
}






