


$checked-bg:linear-gradient(
    275deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
);
$bright-blue: hsl(220, 98%, 61%);


// LIGHT THEME COLORS
$light-gray: hsl(0, 0%, 98%);
$light-grayish-blue-1: hsl(236, 33%, 92%);
$light-grayish-blue-2: hsl(233, 11%, 84%);
$dark-grayish-blue-1: hsl(236, 9%, 61%);
$dark-grayish-blue-2: hsl(235, 19%, 35%);


// DARK THEME COLORS
$dark-blue: hsl(235, 21%, 11%);
$dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue-3: hsl(234, 39%, 85%);
$light-grayish-blue-3-hover: hsl(236, 33%, 92%);
$dark-grayish-blue-3: hsl(234, 11%, 52%);
$dark-grayish-blue-4: hsl(233, 14%, 35%);
$dark-grayish-blue-5: hsl(237, 14%, 26%);





