@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*, :root {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Josefin Sans", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html, body, #root, .dark, .light {
  width: 100%;
  height: 100%;
}

.light, .dark {
  background-position: top;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.light .container, .dark .container {
  width: 90%;
  max-width: 33rem;
  margin-top: 4rem;
}
.light .container header, .dark .container header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.light .container header h1, .dark .container header h1 {
  margin-right: auto;
  font-size: 1.8rem;
  letter-spacing: 0.7rem;
}
.light .container header img, .dark .container header img {
  margin-left: auto;
  object-fit: contain;
  cursor: pointer;
}
.light .container .input-sec, .dark .container .input-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}
.light .container .input-sec .circle, .light .container .input-sec .checked, .dark .container .input-sec .circle, .dark .container .input-sec .checked {
  margin-inline: 1rem;
}
.light .container .input-sec .todo-input, .dark .container .input-sec .todo-input {
  padding-block: 1rem;
  flex-basis: 95%;
  font-size: 1.1rem;
  border: none;
  outline: none;
}
.light .container .input-sec .todo-input:focus, .dark .container .input-sec .todo-input:focus {
  border: none;
  outline: none;
}
.light .container .todo-body-footer, .dark .container .todo-body-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
}
.light .container .todo-body-footer .todo-body, .dark .container .todo-body-footer .todo-body {
  height: 18rem;
  overflow: auto;
}
.light .container .todo-body-footer .todo-body .todo-item, .dark .container .todo-body-footer .todo-body .todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 1rem;
  border-bottom: 1px solid black;
  position: relative;
}
.light .container .todo-body-footer .todo-body .todo-item .todo, .dark .container .todo-body-footer .todo-body .todo-item .todo {
  font-size: 1.1rem;
  flex-basis: 80%;
  text-align: left;
}
.light .container .todo-body-footer .todo-body .todo-item .circle, .light .container .todo-body-footer .todo-body .todo-item .checked, .dark .container .todo-body-footer .todo-body .todo-item .circle, .dark .container .todo-body-footer .todo-body .todo-item .checked {
  margin-inline: 1rem;
}
.light .container .todo-body-footer .todo-body .todo-item .cross, .dark .container .todo-body-footer .todo-body .todo-item .cross {
  visibility: hidden;
  object-fit: contain;
  margin-inline: 1rem;
  cursor: pointer;
}
.light .container .todo-body-footer .todo-body .todo-item:hover .cross, .dark .container .todo-body-footer .todo-body .todo-item:hover .cross {
  visibility: visible;
}
.light .container .todo-body-footer .footer, .dark .container .todo-body-footer .footer {
  flex-basis: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-top: 1px solid black;
  padding-block: 1rem;
}
.light .container .todo-body-footer .footer .filter, .dark .container .todo-body-footer .footer .filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.light .container .todo-body-footer .footer .filter p, .dark .container .todo-body-footer .footer .filter p {
  margin-inline: 0.7rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.light .container .todo-body-footer .footer .clear-completed, .dark .container .todo-body-footer .footer .clear-completed {
  margin-right: 1rem;
  margin-left: auto;
  font-size: 0.8rem;
  cursor: pointer;
}
.light .container .todo-body-footer .footer .items-left, .dark .container .todo-body-footer .footer .items-left {
  margin-right: auto;
  margin-left: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.light .container .drag-mes, .dark .container .drag-mes {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 0.7rem;
}

.light {
  background-color: hsl(0deg, 0%, 98%);
  background-image: url(../src/images/bg-desktop-light.jpg);
}
.light .container header h1 {
  color: white;
}
.light .container .input-sec {
  background-color: hsl(0deg, 0%, 98%);
}
.light .container .input-sec .todo-input {
  caret-color: hsl(220deg, 98%, 61%);
  color: hsl(235deg, 19%, 35%);
  background-color: transparent;
}
.light .container .todo-body-footer {
  background-color: hsl(0deg, 0%, 98%);
}
.light .container .todo-body-footer .todo-body .todo-item {
  border-bottom-color: hsl(236deg, 33%, 92%);
  color: hsl(235deg, 19%, 35%);
}
.light .container .todo-body-footer .todo-body .checked + .todo {
  text-decoration: line-through;
  color: hsl(233deg, 11%, 84%);
}
.light .container .todo-body-footer .footer {
  color: hsl(236deg, 9%, 61%);
  border-top-color: hsl(236deg, 33%, 92%);
}
.light .container .todo-body-footer .footer .filter p:focus {
  color: hsl(220deg, 98%, 61%);
}
.light .container .todo-body-footer .footer .filter p:hover {
  color: hsl(235deg, 19%, 35%);
}
.light .container .todo-body-footer .footer .clear-completed:hover {
  color: hsl(235deg, 19%, 35%);
}
.light .container .drag-mes {
  color: hsl(236deg, 9%, 61%);
}

.dark {
  background-color: hsl(235deg, 21%, 11%);
  background-image: url(../src/images/bg-desktop-dark.jpg);
}
.dark .container header h1 {
  color: white;
}
.dark .container .input-sec {
  background-color: hsl(235deg, 24%, 19%);
}
.dark .container .input-sec .todo-input {
  caret-color: hsl(220deg, 98%, 61%);
  color: hsl(234deg, 11%, 52%);
  background-color: transparent;
}
.dark .container .todo-body-footer {
  background-color: hsl(235deg, 24%, 19%);
}
.dark .container .todo-body-footer .todo-body .todo-item {
  border-bottom-color: hsl(237deg, 14%, 26%);
  color: hsl(234deg, 39%, 85%);
}
.dark .container .todo-body-footer .footer {
  color: hsl(233deg, 14%, 35%);
  border-top-color: hsl(237deg, 14%, 26%);
}
.dark .container .todo-body-footer .footer .filter p:focus {
  color: hsl(220deg, 98%, 61%);
}
.dark .container .todo-body-footer .footer .filter p:hover {
  color: hsl(236deg, 33%, 92%);
}
.dark .container .todo-body-footer .footer .clear-completed:hover {
  color: hsl(236deg, 33%, 92%);
}
.dark .container .drag-mes {
  color: hsl(233deg, 14%, 35%);
}

.circle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.circle::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.checked {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(275deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
.checked::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background: url(../src/images/icon-check.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.dark .container .todo-body-footer .todo-body .todo-item .checked + .todo {
  text-decoration: line-through;
  color: hsl(233deg, 14%, 35%);
}

.light .circle {
  background: hsl(233deg, 11%, 84%);
}
.light .circle:hover {
  background: linear-gradient(275deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
.light .circle::before {
  background: white;
}

.dark .circle {
  background: hsl(234deg, 39%, 85%);
}
.dark .circle:hover {
  background: linear-gradient(275deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
.dark .circle::before {
  background: hsl(235deg, 24%, 19%);
}

/*# sourceMappingURL=style.css.map */
